* {
  outline: unset !important;
}

/* hero */
#hero {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* maks */
#hero .maks {
  background-image: url("./../../../public/img/pexels-vishal-shah-2574643.png");
  background-size: cover;
  background-position: center;
  height: inherit;
  width: 100%;
}

/* main */
#hero .maks .main {
  background-color: rgba(0, 0, 0, 0.63);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* nav */
#hero .maks .main .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  /* nav logo*/
  /* nav logo text pir*/
  /* nav logo sub*/
  /* nav other */
  /* nav other links*/
}

#hero .maks .main .nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 20px;
}

#hero .maks .main .nav .logo .pir {
  font-weight: bolder;
  color: white;
  font-size: 40px;
  margin: 0;
}

#hero .maks .main .nav .logo .sub {
  font-weight: bolder;
  color: white;
  font-size: 18px;
  margin: 0;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

#hero .maks .main .nav .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 33px;
}

#hero .maks .main .nav .other > a {
  color: #ffffff;
  font-weight: bold;
  margin-left: 22px;
}

/* nav other social*/
#hero .maks .main .nav .other .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #e6e6e6;
  border-radius: 11rem;
  width: 114px;
  height: 42px;
  padding: 7px;
  margin-left: 29px;
}

/* nav other social links img*/
#hero .maks .main .nav .other .social > a > img {
  width: 20px;
  height: 20px;
}

/* title */
#hero .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* title text cont */
  /* title pir text*/
  /* title sub text */
}

#hero .title .cont {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .title .pir {
  font-size: 138px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-left: 51px;
}

#hero .title .sub {
  margin: 0;
  color: white;
  font-weight: bold;
  -webkit-transform: rotateZ(90deg) translateY(128px) translateX(35px);
          transform: rotateZ(90deg) translateY(128px) translateX(35px);
  font-size: 18px;
  opacity: 0;
}

/* info */
#hero .info {
  width: 95%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  /* info_text */
  /* & .cursor {
      display: block;
      position: absolute;
      height: 20px;
      top: 0;
      right: -5px;
      width: 2px;
      background-color: white;
      z-index: 1;
      animation: flash 0.5s none infinite alternate;
    }
    @keyframes flash {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    } */
}

#hero .info .info_text {
  color: white;
  text-align: center;
  font-weight: bold;
}

/* go but */
#hero .go {
  width: 119px;
  height: 40px;
  margin-bottom: auto;
  border-radius: 11rem;
  color: #332e33;
  font-weight: bolder;
  font-size: 22px;
  background-color: #ffffff;
  border: 0;
}

/* phone */
@media only screen and (max-width: 900px) {
  /* info */
  #hero .info {
    overflow-y: scroll;
  }
}

.word_done {
  height: 100vh;
  width: 100%;
  background-color: #1f1c1f;
  border-radius: 0px 0px 50px 50px;
}

.more {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more p {
  margin: 0;
  font-weight: bold;
  color: #1f1c1f;
  font-size: 40px;
}

.footer {
  height: auto;
  background-color: #1f1c1f;
  border-radius: 50px 50px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  social*/
}

.footer .thank {
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
  font-size: 27px;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  border-radius: 11rem;
  width: auto;
  height: 42px;
  padding: 7px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer .social > a > img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.footer .end {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
}

body {
  background-color: #ffa200;
}
/*# sourceMappingURL=main.css.map */